*{
    min-height: 50px;
    box-sizing: border-box;
}



#contenedor{
    border: 2px solid salmon;
    padding: 12px;
}

#contenedor > *{
    padding: 12px;
}

#contenedor > *:not(:last-child){
    margin-bottom: 12px;
}




.ancho-100{
    max-width: 100%;
    background-color: grey;
    margin-bottom: 12px;
    
}

.ancho-50{
    max-width: 50%;
    background-color: black;
    
    
    
}

.cajaM{
    max-width: 50%;
    background-color: yellow;
    
    
}

.cajaP{
    max-width: 50%;
    background-color: blue;
    
}

.cajaT{
    max-width: 25%;
    background-color: aqua;
    
}



